@charset "utf-8";

$mdc-theme-primary: #0288d1;
$mdc-theme-secondary: #f9a825;
$mdc-theme-background: #fff;

@import "../../node_modules/material-components-web/dist/material-components-web.min.css";

/* ============= HTML Tag Attribute overrides ============== */

/* ============== Material Design overrides ================ */

.mdc-layout-grid__inner {
  margin-top: 1rem;
}

/* ======================= Map Area ======================== */@at-root
#map {
  margin: 0;
  padding: 0;
  height: 75vw;
  width: 90vw;
}

/* =================== Map Infowindow ===================== */

.gm-style-iw {
  background-color: #fffde7 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 120px !important;
  padding-top: .75em;
  display: block !important;
 }

 .infowindow-content {
  color: black;
  margin: .25rem;
 }

.infowindow-place {
  font-weight: bold;
  border-bottom: 1px solid black;
}

.infowindow-attrs {
  margin: .5rem 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.infowindow-rating {
  font-size: 1rem;
}

.infowindow-chip {
  align-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  color: black;
  background-color: #ffd95a;
  display: flex;
  font-weight: bold;
  margin: 0 0 0 .5rem;
  padding: .25rem .5rem .25rem .5rem;
  height: 1.25rem;
}

.infowindow i {
}