@charset "utf-8";

@import "../../node_modules/@material/top-app-bar/mdc-top-app-bar";


/* ====================== Grid Layout ====================== */

#header {
  grid-area: header;
}

#map-container {
  grid-area: map;
}

#footer {
  grid-area: footer;
}

/* Default to 2-column layout */
.wrapper {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-areas:
    "header header"
    "breadcrumb breadcrumb"
    "restaurant map"
    "reviews map"
    "footer footer";
}

/* ============= HTML Tag Attribute overrides ============== */
