@import url(../../node_modules/material-components-web/dist/material-components-web.min.css);
/* ============= HTML Tag Attribute overrides ============== */
/* ============== Material Design overrides ================ */
.mdc-layout-grid__inner {
  margin-top: 1rem; }

/* ======================= Map Area ======================== */
#map {
  margin: 0;
  padding: 0;
  height: 50vw;
  width: 90vw; }

/* =================== Map Infowindow ===================== */
.infowindow-list {
  list-style-type: none; }
