@import url(../../node_modules/material-components-web/dist/material-components-web.min.css);
/* ============= HTML Tag Attribute overrides ============== */
/* ============== Material Design overrides ================ */
.mdc-layout-grid__inner {
  margin-top: 1rem; }

/* ======================= Map Area ======================== */
#map {
  margin: 0;
  padding: 0;
  height: 50vw;
  width: 90vw; }

/* =================== Map Infowindow ===================== */
.infowindow-place {
  font-weight: bold;
  border-bottom: 1px solid black; }

.infowindow-attrs {
  margin: .5rem 0 0 0;
  padding: 0; }

.infowindow-rating {
  font-size: 1rem; }

.infowindow-chip {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #f9a825;
  color: black;
  margin: .25rem 0 .25rem .5rem;
  padding: 0 .5rem 0 .5rem; }
